.grad {
    background: linear-gradient(to right, rgba(226,9,203,255), rgba(236,72,44,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.icon-feature {
    margin-top: 50px;
	margin-bottom: 20px;
	color: rgb(236,72,44);
}
