@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

body {
    background: rgb(42,7,27);
    background: linear-gradient(90deg, rgba(42,7,27,1) 0%, rgb(37, 6, 25) 55%, rgb(68, 10, 48) 100%);
}

h1 {
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}