.title{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.myInput{
    height: 35px;
    font-size: 15px;
    color: rgb(204,204,204);
}

.myInput:focus{
    outline: none;
    color: rgb(116, 111, 113);
}
