.social-block{
    margin-top: 100px;
}

.social-proof{
    max-width: 150px;
    max-height: 50px;
}

.separate-line{
    background-color: #533b4d52;
    width: 100%;
    height: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}