.imgHeader {
    opacity: 0.6;
    border-bottom: 50px;
    
}

.titleHeader {
    margin: auto;
    text-align: center;
}

.rowBorder {
    border-width: 1px;
    border-style: solid;
    border-color: green;
}

.cardVertically {
    height: 100px;
    align-items: center;
}












