.headerText {
    margin-top: 120px;
    padding-right: 20px;
    width: 80px;
}





* {
    margin: auto;
    text-align: center;
}

body {
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.block {
    margin-top: 100px;
    height: 370px;
    width: 410px;
    position: relative
}

.block-1 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    z-index: 100
}

.block-1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: cover;
    transition: all 0.5s;
    cursor: pointer;
    object-fit: fill
}

.block-2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #e957d1, #c50ee9);
    border-radius: 11px;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s
}

.block:hover .block-2 {
    transform: rotate(-10deg)
}

.block:hover .block-3 {
    transform: rotate(-20deg)
}

.block:hover .block-4 {
    transform: rotate(-30deg)
}

.block:hover .block-5 {
    transform: rotate(-40deg)
}

.block-3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #bb1697, #cd2077);
    border-radius: 11px;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s
}

.block-4 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #780f7c, #8c199b);
    border-radius: 11px;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s
}

.block-5 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #d45c54, #631111);
    border-radius: 11px;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s
}


