.firstIcons {
    background-color: #575555;
    width: 55px;
    height: 55px;
    padding-top: 14px;
    padding-left: 16px;
    border-radius: 10%;
}

.containerIcons {
    border-radius: 10%;
}

.bg-icons{
    background-color: #441830;
    box-shadow: 0 0 30px rgb(22, 3, 14);
}

.iconsMargin {
    margin-top: 100px;
}